{% extends 'form.html' %}

{% block title %}NaN Cupcakes{% endblock %}

{% block content %}
<div class="container col-md-10 justify-content-center"
id="mainDiv">
    <h1 class="text-center">NaN Cupcakes</h1>
    
    <div id="cupcakeDisplay" class="row justify-content-center">
        {% for cupcake in cupcakes %}

        {% endfor %}
    </div>

    <div id="cupcakeForm" class="container justify-content-center col-md-8">
        <h2>Add a Cupcake!</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field(class_='form-control') }}

                    {% for err in form.errors[field] %}
                        <p class="text-danger small">{{err}}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}